body{
	background-color:#bcfffb;
}

.header{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius:4px;
	margin: auto;
	margin-bottom:20px;
	text-align: center;
	width: 600px;
	background-color: yellow;
	border:none;
}

label{
	font-size:30px;
}

div#canvas{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius:4px;
	background:#42d7f4;
	width:500px;
	height:495px;
	padding:15px;
	margin:0px auto;
	border:none;
}
div#canvas > div{
	background-color: #f6ffaa;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius:4px;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
	padding:1px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
	font-size:93px;
	font-weight:bold;
	border:none;
}

#button{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius:4px;
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.main{
	display:flex;
}

.details{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius:4px;
	background:#d628ed;
	width:400px;
	height:456px;
	padding:15px;
	padding-top: 50px;
	margin:0px auto;
	border:none;
	text-align:center;
}

.subdetail{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius:4px;
	background:#ff59d8;
	width:250px;
	height:50px;
	padding:15px;
	padding-top: 20px;
	margin:15px auto;
	border:none;
	text-align:center;
}